<h1>Hello World!!</h1>
<i style>italic - first app testing</i style><br />
<b style>bold - first app testing</b style><br />
<big>big - first app testing</big><br />
<font size="5" color="red">big and red - first app testing</font><br />
<a href="http://www.soundersfc.com/">FC sounders link</a>


<p>Find me in app/views/home/index.html.erb</p>
